<div *ngIf="notify" class='notify'>
    Login to save your score <button class='btn btn-light text-dark ms-2' (click)="allowLogin()">Login/SignUp</button> <button class="btn btn-secondary float-end px-2 me-2" (click)="closeNotify()"> Close </button>
</div>
<app-playgame></app-playgame>

<div *ngIf="loggedin" class='pt-2 login h-100 w-100'>
   
    <button class='btn btn-dark float-end me-2' (click)='closeLogin()'> Close </button>
    
    <div class='row mt-5 pt-2'>
        <div class='col-1 col-sm-2 col-md-3 col-lg-4'></div>
        <div class='col-10 col-sm-8 col-md-6 col-lg-4 p-2 '>
            <div style=" border-radius: 10px;box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5),0 20px 30px 0 rgba(0,0,0,0.3),0 30px 50px 0 rgba(0,0,0,0.2);">
                <div class='row px-0'>
                    <div *ngIf="login && formfill && !changePassword" class="col-6 pe-0"><button disabled class='btn1' (click)="loginSignIn(true)"> Login </button></div>
                    <div *ngIf="login && formfill && !changePassword" class="col-6 ps-0"><button  disabled class='btn2' (click)="loginSignIn(false)">Sign Up</button></div>
                    <div *ngIf="!login && formfill && !changePassword" class="col-6 pe-0"><button disabled  class='btn2' (click)="loginSignIn(true)"> Login </button></div>
                    <div *ngIf="!login && formfill && !changePassword" class="col-6 ps-0"><button disabled  class='btn1' (click)="loginSignIn(false)">Sign Up</button></div>
                    <div *ngIf="login && !formfill && !changePassword" class="col-6 pe-0"><button  class='btn1' (click)="loginSignIn(true)"> Login </button></div>
                    <div *ngIf="login && !formfill && !changePassword" class="col-6 ps-0"><button  class='btn2' (click)="loginSignIn(false)">Sign Up</button></div>
                    <div *ngIf="!login && !formfill && !changePassword" class="col-6 pe-0"><button  class='btn2' (click)="loginSignIn(true)"> Login </button></div>
                    <div *ngIf="!login && !formfill && !changePassword" class="col-6 ps-0"><button  class='btn1' (click)="loginSignIn(false)">Sign Up</button></div>
                    <div *ngIf="changePassword" class="col-12"> <div class="btn1 text-center">Change Password</div> </div>
                </div>
                <div class="px-2 pt-5 pb-4" style="background-color: white;border : 1px solid black ;border-top: 0px;border-radius: 0px 0px 10px 10px;">
                    <form *ngIf="!changePassword" #ref="ngForm" (ngSubmit)="ref.form.valid && submit(ref.value)" class="m-2">
                        <label for="username" class="form-label mb-2 fs-5"> Username </label>
                        <input type="text" class="form-control mb-3" name="username" id="username" (keydown)="focus($event)" autocomplete="off" required ngModel #refUsername="ngModel">
                        <p class="text-danger" *ngIf="(ref.submitted || refUsername.touched) && refUsername.errors?.['required']">*Username is required</p>
                        <label for="password" class="form-label mb-2 fs-5"> Password </label>
                        <input type="password" class="form-control mb-3" name="password" id="password" (keydown)="focus($event)" required ngModel #refPassword = "ngModel">
                        <p class="text-danger" *ngIf="(ref.submitted || refPassword.touched) && refPassword.errors?.['required']">*Password is required</p>
                        <p *ngIf="login" class="text-primary pb-2">Forgot Password??<button class='btn px-0 pt-0 pb-1 mb-0 text-primary' (click)="allowPasswordChange()"><u>Change Password</u></button></p>
                        <p *ngIf="login" class="text-center text-primary"> Don't have an account? <button class='btn px-0 pt-0 pb-1 mb-0 text-primary' (click)="loginSignIn(false)"><u>Click Here</u></button></p>
                        <p *ngIf="!login" class="text-center text-primary"> Already have an account? <button class='btn px-0 pt-0 pb-1 mb-0 text-primary'(click)="loginSignIn(true)"><u>Login Here</u></button></p>
                        <button id='submit' (keydown)="focus($event)" type="submit" class='d-block rounded-pill mx-auto btn btn-success py-1 px-4'><h5 class="my-1">Submit</h5></button>
                    </form>
                    <form *ngIf="changePassword" #ref1="ngForm" (ngSubmit)="ref1.form.valid && updatePassword(ref1.value)" class="m-2">
                        <label for="username" class="form-label mb-2 fs-5"> Username </label>
                        <input type="text" class="form-control mb-3" name="username" id="username1" (keydown)="focus($event)" autocomplete="off" required ngModel #refUsername1="ngModel">
                        <p class="text-danger" *ngIf="(ref1.submitted || refUsername1.touched) && refUsername1.errors?.['required']">*Username is required</p>
                        <label for="password" class="form-label mb-2 fs-5">Enter New Password </label>
                        <input type="password" class="form-control mb-3" name="password" id="password1" (keydown)="focus($event)" required ngModel #refPassword1 = "ngModel">
                        <p class="text-danger" *ngIf="(ref1.submitted || refPassword1.touched) && refPassword1.errors?.['required']">*Password cannot be empty</p>
                        <button id='submit1' (keydown)="focus($event)" type="submit" class='d-block rounded-pill mx-auto btn btn-success py-1 px-4'><h5 class="my-1">Submit</h5></button>
                    </form>
                </div>
            </div>
        </div>
        <div class='col-1 col-sm-2 col-md-3 col-lg-4'></div>

    </div>
</div>